@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Unica+One');
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  margin:0;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom:50px;
  /*background-color: #fffbfb;*/
}
h1 {
  font-family: 'Unica One', system, sans-serif;
  text-transform: uppercase;
  padding:5px;
  text-size:2.5em;
  /*box-shadow: 0px -20px 0px 0px #ed2024 inset;*/
  display: inline-block;
}
h1::after {
  display: block;
  content:'';
  width:auto;
  height:0.3em;
  background-color: #ed2024;
  margin-top: -0.4em;
}

.japanese {
  font-family: 'Noto Sans Japanese', sans-serif;
}
a {
  color:#573e3e;
  text-decoration: none;
}
a:hover {
  color:#ed2024;
  transition:.5s;
}
.main-title {
  font-size: 5em;
}
