@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Unica+One');
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  margin:0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fffbfb;
}
h1 {
  font-family: 'Unica One', system, sans-serif;
  text-transform: uppercase;
  padding:5px;
  text-size:2.5em;
}
.japanese {
  font-family: 'Noto Sans Japanese', sans-serif;
}
a {
  color:#3e5157;
  text-decoration: none;
}
a:hover {
  color:#d91538;
  transition:.5s;
}
.main-title {
  font-size: 5em;
}
